body {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  min-height: 100vh;
  font-family: "Scope One", serif;
  background-color: #BDBDBD;
  font-size: 19px;
  color: #212121;
  width: 100%;
  margin: 0 auto; }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6 {
    font-family: "Montserrat", sans-serif; }
  body main {
    padding-top: 10vh;
    padding-bottom: 10vh; }
  body header.encabezado {
    background-color: #374046;
    color: #FFFFFF;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10; }
    body header.encabezado div.contenedor-encabezado {
      align-items: center;
      display: flex;
      justify-content: space-between; }
      body header.encabezado div.contenedor-encabezado a {
        display: flex;
        max-height: 9vh;
        text-decoration: none;
        align-items: center; }
        body header.encabezado div.contenedor-encabezado a img {
          height: 9vh; }
      body header.encabezado div.contenedor-encabezado button.navbar-toggler {
        padding: 2px; }
      body header.encabezado div.contenedor-encabezado nav#navbarTogglerDemo02.navegacion.navbar-collapse.show {
        display: flex;
        justify-content: flex-end; }
      body header.encabezado div.contenedor-encabezado nav.navegacion {
        justify-content: flex-end; }
        body header.encabezado div.contenedor-encabezado nav.navegacion ul.navbar-nav {
          display: flex;
          align-items: flex-end;
          margin: 0;
          padding: 0;
          list-style: none; }
          body header.encabezado div.contenedor-encabezado nav.navegacion ul.navbar-nav li a {
            padding: 0rem;
            margin: 0.5rem;
            text-decoration: none;
            font-size: 18px;
            color: #FFFFFF; }
            body header.encabezado div.contenedor-encabezado nav.navegacion ul.navbar-nav li a:hover {
              color: #B2EBF2;
              font-weight: bold; }
          body header.encabezado div.contenedor-encabezado nav.navegacion ul.navbar-nav li div.dropdown-menu {
            background-color: #374046; }
            body header.encabezado div.contenedor-encabezado nav.navegacion ul.navbar-nav li div.dropdown-menu a {
              background-color: transparent;
              display: block; }

/*INDEX*/
body.index {
  background-color: #757575;
  background-image: url("../contenido_multimedia/homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  body.index::before {
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.5;
    z-index: -1; }
  body.index main.index {
    display: flex;
    height: 100vh;
    justify-content: flex-end;
    align-items: center;
    background: rgba(55, 64, 70, 0.5); }
    body.index main.index div {
      padding: 3rem; }
      body.index main.index div h2,
      body.index main.index div p {
        font-family: Helvetica;
        color: white;
        display: flex;
        justify-content: flex-end; }
      body.index main.index div h2 {
        font-size: 4rem; }
        body.index main.index div h2 strong {
          margin-left: 15px; }
      body.index main.index div p {
        text-align: right;
        margin: 0;
        width: 410px; }

/*GALERIA*/
body.galeria {
  background-color: #757575; }
  body.galeria h1,
  body.galeria h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 10px 0 0 0;
    font-size: 40px;
    margin-top: 1rem;
    color: #FFFFFF;
    margin-bottom: 0; }

section.tralala.landscape-fotos {
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto; }

section.tralala {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 95%;
  margin: auto;
  grid-gap: 2px;
  padding: 15px 45px;
  overflow: hidden;
  justify-items: center;
  align-items: center;
  background-color: #374046;
  border-radius: 15px; }
  section.tralala a {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); }
    section.tralala a:hover {
      filter: blur(1.5px); }
    section.tralala a img {
      width: 100%;
      vertical-align: top;
      overflow: hidden;
      min-height: 300px;
      object-fit: cover; }

article.light-box {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .3s ease-in-out;
  transform: scale(0); }
  article.light-box:target {
    transform: scale(1); }
  article.light-box a.close {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    color: #FFFFFF;
    text-align: center; }
  article.light-box a.next {
    display: block;
    color: #FFFFFF;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center; }
  article.light-box img {
    max-height: 90vh;
    max-width: 85vw; }

/*BIOGRAFIA*/
body.bio {
  background-color: #757575;
  background-image: url("../contenido_multimedia/landscape-5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  body.bio::before {
    content: "";
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.5;
    z-index: -1; }
  body.bio main.bio {
    width: 85vw;
    max-width: 700px;
    margin: auto;
    padding-top: 13vh; }
    body.bio main.bio a.contenedor-foto-bio {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(189, 189, 189, 0.6);
      border-radius: 15px 15px 0 0;
      padding: 1rem 2rem; }
      body.bio main.bio a.contenedor-foto-bio img {
        width: 150px;
        border-radius: 50%;
        box-shadow: 0px 0px 15px black; }
    body.bio main.bio div.contenedor-texto-bio {
      padding: 1rem;
      background-color: rgba(189, 189, 189, 0.9);
      border-radius: 0 0 15px 15px; }
      body.bio main.bio div.contenedor-texto-bio p {
        text-align: left; }
        body.bio main.bio div.contenedor-texto-bio p i.mdi {
          font-size: 20px;
          color: #374046;
          margin-right: .5rem; }

/*CONTACTO*/
body.contacto {
  background-color: #757575;
  background-image: url("../contenido_multimedia/landscape-6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  body.contacto::before {
    content: "";
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.5;
    z-index: -1; }
  body.contacto div.bodyFormulario {
    background-size: 100vw 100vh;
    margin: 0; }
    body.contacto div.bodyFormulario h1 {
      display: none; }
    body.contacto div.bodyFormulario form {
      width: 85vw;
      max-width: 450px;
      margin: auto;
      background: rgba(189, 189, 189, 0.5);
      padding: 10px 20px;
      margin-top: 20px;
      margin-bottom: 20px;
      border-radius: 7px; }
      body.contacto div.bodyFormulario form h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #212121;
        text-align: center;
        margin: 0;
        font-size: 30px;
        margin-bottom: 20px; }
        body.contacto div.bodyFormulario form h2 i.mdi {
          padding-left: 1rem;
          margin-top: 2px;
          font-size: 35px; }
      body.contacto div.bodyFormulario form input,
      body.contacto div.bodyFormulario form textarea {
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        font-size: 17px;
        border: none;
        border-radius: 10px; }
      body.contacto div.bodyFormulario form textarea {
        min-height: 100px;
        max-height: 200px;
        max-width: 100%; }
      body.contacto div.bodyFormulario form input#boton {
        background-color: #374046;
        color: #FFFFFF; }
        body.contacto div.bodyFormulario form input#boton:hover {
          background-color: #6f818d;
          cursor: pointer;
          color: #212121; }

/*FOOTER*/
footer {
  width: 100%;
  max-height: 9vh;
  min-height: 8vh;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(55, 64, 70, 0.8); }
  footer div.footer {
    position: relative; }
    footer div.footer a:hover {
      text-decoration: none; }
    footer div.footer a i.mdi {
      font-size: 20px;
      margin: 0px 10px 2px 10px;
      color: #FFFFFF; }
      footer div.footer a i.mdi:hover {
        color: #B2EBF2; }
    footer div.footer p {
      font-size: 12px;
      text-align: center;
      color: #B2EBF2;
      margin: 0px 10px 0px 10px;
      margin-bottom: 0;
      width: 100%; }

/*RESPONSIVE MEDIA QUERY*/
@media (max-width: 421px) {
  body.bio main.bio a.contenedor-foto-bio img {
    width: 100px; }
  body.bio main.bio a.contenedor-foto-bio h1 {
    font-size: 30px; }
  body.index main.index div {
    padding: 0; }
    body.index main.index div p {
      display: none; }
    body.index main.index div h2 {
      font-size: 45px;
      flex-wrap: wrap; }
  section.tralala.landscape-fotos {
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(3, 100px); }
  section.tralala {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(5, 100px);
    justify-items: stretch;
    align-items: stretch;
    grid-gap: 0px; }
    section.tralala a img {
      min-height: 150px; }
  article.light-box a.close {
    top: 120px;
    right: 15px; }
  body.contacto div.bodyFormulario form h2 {
    font-size: 20px; } }

@media (min-width: 422px) and (max-width: 767px) {
  section.tralala.landscape-fotos {
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(3, 100px); }
  section.tralala {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(5, 100px);
    justify-items: stretch;
    align-items: stretch;
    grid-gap: 0px; }
    section.tralala a img {
      min-height: 150px; }
  body.index main.index div {
    padding: 0; }
    body.index main.index div p {
      text-align: center;
      margin: 0; }
    body.index main.index div h2 {
      font-size: 4rem; } }
