body {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  background-color: #BDBDBD;
  color: #212121; }
  body header {
    background-color: #374046;
    width: 100%; }
    body header nav a h1 {
      font-family: "Yeseva One", cursive;
      color: #FFFFFF;
      font-size: 40px;
      justify-content: flex-start;
      margin: 0; }
      body header nav a h1:hover {
        color: #B2EBF2; }
    body header div.la-barra {
      display: block;
      flex-direction: row;
      justify-content: right; }
      body header div.la-barra ul {
        justify-content: center; }
        body header div.la-barra ul li.nav-item a.nav-link {
          font-size: 20px;
          color: #B2EBF2; }
          body header div.la-barra ul li.nav-item a.nav-link:hover {
            font-size: 22px;
            color: #FFFFFF; }

/*FOOTER*/
footer {
  background-color: #0097A7;
  width: 100%;
  position: fixed;
  bottom: 0; }
  footer div.links-redes {
    display: flex;
    justify-content: center; }
    footer div.links-redes a i.mdi {
      font-size: 30px;
      margin: 2px 20px 2px 20px;
      color: #B2EBF2; }
      footer div.links-redes a i.mdi:hover {
        color: #FFFFFF; }
  footer p {
    text-align: center;
    background-color: #374046;
    color: #FFFFFF;
    padding: 10px 0 10px 0;
    margin: 0;
    width: 100%; }

/*INDEX*/
body.index {
  background-image: url("../Contenido multimedia/foto-faro-portada.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  body.index::before {
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.4;
    z-index: -1; }
  body.index main.index {
    display: flex;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: flex-start; }
    body.index main.index div h2, body.index main.index div p {
      color: white;
      font-family: helvetica; }

/*GALERIA*/
h1#abrirLandscapeMenu.headerLandscape {
  font-weight: 400;
  text-align: center;
  padding: 10px 0 0 0;
  font-size: 40px;
  margin: 0; }

h2#abrirMacroMenu.headerMacro {
  font-weight: 400;
  text-align: center;
  padding: 10px 0 0 0;
  font-size: 40px;
  margin: 0; }

h2#abrirPortraitMenu.headerPortrait {
  font-weight: 400;
  text-align: center;
  padding: 10px 0 0 0;
  font-size: 40px;
  margin: 0; }

section.tralala {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 15px 0;
  overflow: hidden; }
  section.tralala a {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); }
    section.tralala a:hover {
      filter: blur(1.5px); }
    section.tralala a img {
      width: 100%;
      vertical-align: top;
      height: 300px;
      object-fit: cover; }

article.light-box {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .3s ease-in-out;
  transform: scale(0); }
  article.light-box:target {
    transform: scale(1); }
  article.light-box a.close {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    color: #FFFFFF;
    text-align: center; }
  article.light-box a.next {
    display: block;
    color: #FFFFFF;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center; }
  article.light-box img {
    max-height: 90vh;
    max-width: 85vw; }

/*TRABAJOS*/
h1.headerTrabajos {
  font-weight: 400;
  text-align: center;
  padding: 10px 0 0 0;
  font-size: 40px;
  margin: 0; }

div.galeria {
  background-color: #BDBDBD; }
  div.galeria section.trabajos div {
    justify-content: center; }
    div.galeria section.trabajos div video {
      max-width: 450px; }

/*CONTACTO*/
div.bodyFormulario {
  background-size: 100vw 100vh;
  margin: 0; }
  div.bodyFormulario h1 {
    display: none; }
  div.bodyFormulario form {
    width: 450px;
    margin: auto;
    background: rgba(189, 189, 189, 0.5);
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 7px; }
    div.bodyFormulario form h2 {
      color: #212121;
      text-align: center;
      margin: 0;
      font-size: 30px;
      margin-bottom: 20px; }
    div.bodyFormulario form input,
    div.bodyFormulario form textarea {
      width: 100%;
      margin-bottom: 20px;
      padding: 7px;
      font-size: 17px;
      border: none; }
    div.bodyFormulario form textarea {
      min-height: 100px;
      max-height: 200px;
      max-width: 100%; }
    div.bodyFormulario form input#boton {
      background-color: #374046;
      color: #FFFFFF; }
      div.bodyFormulario form input#boton:hover {
        background-color: #6f818d;
        cursor: pointer;
        color: #212121; }

/*RESPONSIVE*/
@media (max-width: 421px) {
  h1 {
    display: none; }
  section.landscape {
    grid-template-columns: repeat(auto-fit, minmax 200px, 1fr); }
  article.light-box a.close {
    top: 120px;
    right: 15px; }
  form {
    width: 100%; } }
