@import "variables";

// NAVBAR

body {
    box-sizing: border-box;
    position: relative;
    padding: 0;
    min-height: 100vh;
    font-family: helvetica;
    background-color: $dividerColor;
    color: $primaryText;
    width: 100%;
    margin: 0 auto;

    main {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    header.encabezado {
        background-color: $darkPrimaryColor;
        color: $white;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 10;

        div.contenedor-encabezado {
            align-items: center;
            display: flex;
            justify-content: space-between;

            a {
                display: flex;
                max-height: 9vh;
                text-decoration: none;
                align-items: center;

                img {
                    height: 9vh;
                }
            }
            button.navbar-toggler{
                padding: 2px;
            }

            nav#navbarTogglerDemo02.navegacion.navbar-collapse.show{
                display: flex;
                justify-content: flex-end;
            }
            nav.navegacion{
                justify-content: flex-end;
                ul.navbar-nav{
                    display: flex;
                    align-items: flex-end;
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li {

                        a {
                            padding: 0rem;
                            margin: 0.5rem;
                            text-decoration: none;
                            font-size: 18px;
                            color: $white;


                            &:hover {
                                color: $lightSecondaryColor;
                                font-weight: bold;
                            }
                        }
                        div.dropdown-menu{
                            background-color: $darkPrimaryColor;
                            a{
                                background-color: transparent;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*INDEX*/

body.index {
    background-image: url("../contenido_multimedia/homepage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    &::before {
        content: "";
        width: 100%;
        min-height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background: black;
        opacity: 0.5;
        z-index: -1;
    }

    main.index {
        display: flex;
        height: 100vh;
        justify-content: flex-end;
        align-items: center;
        background: rgba($color: $darkPrimaryColor, $alpha: 0.5);

        div {
            padding: 3rem;

            h2,
            p {
                font-family: helvetica;
                color: white;
                display: flex;
                justify-content: flex-end;
            }

            h2 {
                font-size: 4rem;

                strong {
                    margin-left: 15px;
                }
            }

            p {
                text-align: right;
                margin: 0;
                width: 410px;
            }
        }
    }
}


/*GALERIA*/
h1#abrirLandscapeMenu.headerLandscape {
    font-weight: 400;
    text-align: center;
    padding: 10px 0 0 0;
    font-size: 40px;
    margin: 0;
}

h2#abrirMacroMenu.headerMacro {
    font-weight: 400;
    text-align: center;
    padding: 10px 0 0 0;
    font-size: 40px;
    margin: 0;
}

h2#abrirPortraitMenu.headerPortrait {
    font-weight: 400;
    text-align: center;
    padding: 10px 0 0 0;
    font-size: 40px;
    margin: 0;
}

section.tralala.landscape-fotos{
    grid-template-columns: repeat(9,1fr);
}
section.tralala {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 15px 0;
    overflow: hidden;

    a {
        display: block;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 6px rgba($color: black, $alpha: 0.5);

        &:hover {
            filter: blur(1.5px);
        }

        img {
            width: 100%;
            vertical-align: top;
            height: 300px;
            object-fit: cover;
        }
    }
}

article.light-box {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($color: black, $alpha: 0.8);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: scale(0);



    &:target {
        transform: scale(1);
    }

    a.close {
        display: block;
        position: absolute;
        top: 50px;
        right: 50px;
        color: $white;
        text-align: center;
    }

    a.next {
        display: block;
        color: $white;
        height: 30px;
        width: 30px;
        line-height: 30px;
        text-decoration: none;
        text-align: center;

    }

    img {
        max-height: 90vh;
        max-width: 85vw;
    }

}

/*TRABAJOS*/

h1.headerTrabajos {
    font-weight: 400;
    text-align: center;
    padding: 10px 0 0 0;
    font-size: 40px;
    margin: 0;
}

div.galeria {
    background-color: $dividerColor;

    section.trabajos {
        div {
            justify-content: center;

            video {
                max-width: 450px;
            }
        }
    }
}


/*CONTACTO*/

div.bodyFormulario {
    background-size: 100vw 100vh;
    margin: 0;

    h1 {
        display: none;
    }

    form {
        width: 450px;
        margin: auto;
        background: rgba($color: $dividerColor, $alpha: 0.5);
        padding: 10px 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 7px;

        h2 {
            color: $primaryText;
            text-align: center;
            margin: 0;
            font-size: 30px;
            margin-bottom: 20px;
        }

        input,
        textarea {
            width: 100%;
            margin-bottom: 20px;
            padding: 7px;
            font-size: 17px;
            border: none;
        }

        textarea {
            min-height: 100px;
            max-height: 200px;
            max-width: 100%;
        }

        input#boton {
            background-color: $darkPrimaryColor;
            color: $white;

            &:hover {
                background-color: lighten($darkPrimaryColor, $amount: 25%);
                cursor: pointer;
                color: $primaryText;
            }
        }
    }
}

/*FOOTER*/
footer {
    width: 100%;
    max-height: 9vh;
    min-height: 8vh;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: $darkPrimaryColor, $alpha: 0.8);


    div.footer {
        position: relative;

        a {
            &:hover {
                text-decoration: none;
            }

            i.mdi {
                font-size: 20px;
                margin: 0px 10px 2px 10px;
                color: $white;

                &:hover {
                    color: $lightSecondaryColor;
                }
            }
        }

        p {
            font-size: 12px;
            text-align: center;
            color: $lightSecondaryColor;
            margin: 0px 10px 0px 10px;
            margin-bottom: 0;
            width: 100%;
        }
    }
}




/*RESPONSIVE MEDIA QUERY*/

@media (max-width: 421px) {

    // XS

        // INDEX
        body.index {
            main {}

            main.index {
                div {
                    padding: 0;

                    p {
                        display: none;
                    }

                    h2 {
                        font-size: 45px;
                        flex-wrap: wrap;
                    }
                }
        }
    }

    // GALERIA
    section.landscape {
        grid-template-columns: repeat(auto-fit, minmax (200px, 1fr));
    }

    article.light-box {
        a.close {
            top: 120px;
            right: 15px;
        }
    }

    // CONTACTO
    form {
        width: 100%;
    }

}

@media (min-width: 422px) and (max-width:767px) {
    // SM
    // NAVBAR

    // CONTENIDO INDEX
    body.index {
        main.index {
            div {
                padding: 0;

                p {
                    text-align: center;
                    margin: 0;
                }

                h2 {
                    font-size: 4rem;
                }
            }
        }
    }

}

@media (min-width: 768px) and (max-width:991px) {
    // MD

    // NAVBAR

}

@media (min-width: 992px) and (max-width:1199px) {
    // LG
    // GALERIA
    section.tralala {
        grid-template-columns: repeat(9,1fr);
    }
    section.tralala.fotos-macro{
        grid-template-columns: repeat(10,1fr);
    }
    // NAVBAR

}

@media (min-width: 1200px) {
    // XL
    // NAVBAR


}