@import "variables.scss";

/*GENERAL*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*NAVBAR*/
body {
    color: $primaryText;
    background-color: $lightPrimaryColor;
    font-family: $genericFont;

    header {
        background-color: $darkPrimaryColor;
        width: 100%;

        nav {
            a {
                h1 {
                    font-family: $headerFont;
                    color: $white;
                    font-size: 40px;
                    justify-content: flex-start;
                    margin: 0;

                    &:hover {
                        color: $lightSecondaryColor;
                    }
                }
            }
        }

        div {
            display: block;
            flex-direction: row;
            justify-content: right;

            ul {
                justify-content: center;

                li.nav-item {
                    a.nav-link {
                        font-size: 20px;
                        color: $lightSecondaryColor;

                        &:hover {
                            font-size: 22px;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}

/*FOOTER*/
footer {
    background-color: $primaryColor;
    width: 100%;

    div.links-redes {
        display: flex;
        justify-content: center;

        a {
            i.mdi {
                font-size: 30px;
                margin: 2px 20px 2px 20px;
                color: $lightSecondaryColor;

                &:hover {
                    color: $white;
                }
            }
        }
    }

    p {
        text-align: center;
        background-color: $darkPrimaryColor;
        color: $white;
        padding: 10px 0 10px 0;
        margin: 0;
        width: 100%;
    }
}

/*INDEX*/
main.container.index {
    background-color: $dividerColor;

    section.row {
        div.informacion-portada {
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                color: $secondaryText;
                background-color: rgba(255, 255, 255, 0.5);
                text-align: center;
                box-shadow: 11.8px 1.1rem 1rem -8px;
            }

            h2 {
                background-color: rgba(255, 255, 255, 0.5);
                text-align: center;
                font-family: serif;
                font-size: 35px;
                color: $primaryText;
                margin-bottom: 0;
                margin-top: 1rem;
            }
        }
    }
}


;

/*GALERIA*/
h1#abrirLandscapeMenu.headerLandscape {
    font-weight: 400;
    text-align: center;
    padding: 10px 0 0 0;
    font-size: 40px;
    margin: 0;
}

h2#abrirMacroMenu.headerMacro {
    font-weight: 400;
    text-align: center;
    padding: 10px 0 0 0;
    font-size: 40px;
    margin: 0;
}

h2#abrirPortraitMenu.headerPortrait {
    font-weight: 400;
    text-align: center;
    padding: 10px 0 0 0;
    font-size: 40px;
    margin: 0;
}

section.tralala {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 15px 0;
    overflow: hidden;

    a {
        display: block;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 6px rgba($color: black, $alpha: 0.5);

        &:hover {
            filter: blur(1.5px);
        }

        img {
            width: 100%;
            vertical-align: top;
            height: 300px;
            object-fit: cover;
        }
    }
}

article.light-box {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($color: black, $alpha: 0.8);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: scale(0);



    &:target {
        transform: scale(1);
    }

    a.close {
        display: block;
        position: absolute;
        top: 50px;
        right: 50px;
        color: $white;
        text-align: center;
    }

    a.next {
        display: block;
        color: $white;
        height: 30px;
        width: 30px;
        line-height: 30px;
        text-decoration: none;
        text-align: center;

    }

    img {
        max-height: 90vh;
        max-width: 85vw;
    }

}

/*TRABAJOS*/

h1.headerTrabajos{
    font-weight: 400;
    text-align: center;
    padding: 10px 0 0 0;
    font-size: 40px;
    margin: 0;
}

div.galeria {
    background-color: $dividerColor;

    section.trabajos {
        div {
            justify-content: center;

            video {
                max-width: 450px;
            }
        }
    }
}

;

/*CONTACTO*/

div.bodyFormulario{
    background-size: 100vw 100vh;
    margin: 0;
    h1{
        display: none;
    }
    form{
        width: 450px;
        margin: auto;
        background: rgba($color: $dividerColor, $alpha: 0.5);
        padding: 10px 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 7px;
        h2{
            color: $primaryText;
            text-align: center;
            margin: 0;
            font-size: 30px;
            margin-bottom: 20px;
        }
        input, textarea{
            width: 100%;
            margin-bottom: 20px;
            padding: 7px;
            font-size: 17px;
            border: none;
        }
        textarea{
            min-height: 100px;
            max-height: 200px;
            max-width: 100%;
        }
        input#boton{
            background-color: $darkPrimaryColor;
            color: $white;
            &:hover{
                background-color: lighten( $darkPrimaryColor , $amount: 25%);
                cursor: pointer;
                color: $primaryText;
            }
        }
    }
}
;

/*RESPONSIVE*/

@media (max-width: 421px) {

    // XS
    h1 {
        display: none;
    }
    section.landscape{
        grid-template-columns: repeat(auto-fit, minmax (200px, 1fr ));
    }
    article.light-box{
        a.close{
            top: 120px;
            right: 15px;
        }
    }
    form{
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width:767px) {
// SM
}

@media (min-width: 768px) and (max-width:991px) {
    // MD
}

@media (min-width: 992px) and (max-width:1199px) {
    // LG
}

@media (min-width: 1200px) {
    // XL

}