// FUENTES

$headerFont: 'Yeseva One',
cursive;
$genericFont: 'Josefin Sans',
sans-serif;

// COLORES
$primaryColor: #0097A7;
$darkPrimaryColor: #374046;
$lightPrimaryColor: #00BCD4;
$lightSecondaryColor: #B2EBF2;
$primaryText: #212121;
$secondaryText: #757575;
$dividerColor: #BDBDBD;
$accentColor: #7C4DFF;
$white: #FFFFFF;
